@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin {
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

@keyframes increase {
    from{
        font-size: 1rem;
    }
    to{
        font-size: 1.15rem;
    }
}

html,
body {
    height: 100vh;
    font-family: "Instrument Sans", sans-serif;
    margin: 0;
}

.navbar {
    top: 1.6rem;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    border-radius: 12rem;
    letter-spacing: 0.09rem;
}

@media (min-width: 768px) {
    .navbar {
        top: 1.6rem;
        left: 50%;
        transform: translateX(-50%);
        height: 4.6rem;
        max-width: fit-content;
    }
}

.navbar-brand img {
    width: 12rem;
    height: auto;
}

.nav-item{
    position: relative;
    transition: font-weight 0.3s linear;
}

.nav-item:hover{
    font-weight: bolder;
}

.nav-item::after, .nav-item::before{
    content: '';
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: transparent;
    transform: translateY( 7px );
	opacity: 0;
	transition: opacity 0.2s, transform 0.6s;
}

.nav-item:hover::before, .nav-item:hover::after{
    opacity: 1;
	transform: translateY(0);
    border-bottom: solid 0.2rem blue;
}

.nav-link {
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    color: #000;
    padding: 0.5rem;
}

.navbar-button {
    background-color: #324eef;
    color: white;
    border-radius: 12rem;
    position: relative;
}

.navbar-button:after, .navbar-button:before{
    content: '';
    position: absolute;
    z-index: -1;
    background-image: conic-gradient(from var(--angle), transparent 70%, #324eef);
    height: 100%;
    width: 100%;
    border-radius: 12rem;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding-top: 2.02rem;
    padding-bottom: 2.02rem;
    padding-left: 3.6rem;
    padding-right: 3.6rem;
    animation: 3s spin linear infinite;
}

.navbar-button:before{
    filter: blur(1.5rem);
    opacity: 0.5;
}

.navbar-button:hover{
    animation: increase linear forwards 0.3s;
}

.navbar-button:hover::after, .navbar-button:hover::before{
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    padding-left: 4.1rem;
    padding-right: 4.1rem;
}

@media (min-width: 576px) and (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 991px) {
    header {
        font-size: 1.2vh;
    }
    .navbar-brand img {
        width: 12rem;
        height: auto;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    header {
        font-size: 1.4vh;
    }
    .navbar-brand img {
        width: 13rem;
        height: auto;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    header {
        font-size: 1.5vh;
    }
    .navbar-brand img {
        width: 14rem;
        height: auto;
    }
}

@media (min-width: 1400px) {
    header {
        font-size: 1.5vh;
    }
    .navbar-brand img {
        width: 15rem;
        height: auto;
    }
}